.fruitscontainer{
    display: flex;
    gap: 20px;
}
.fruits{
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30px;
}
.icon{
    position: relative;
    width: 20px;
    height: 20px;
}